body{
margin:0;
font-family:monospace;
background-image:url(../assets/bg10.png); 
background-size:cover;

background-position:center center;
background-attachment: fixed;
background-repeat: no-repeat;

}
.demo-section{
height:100vh;
display:flex;
align-items:center;
justify-content:center;
flex-direction:column;
padding:40px;

}
.demo-section-1{
height:100vh;
display:flex;
justify-content:space-around;
align-items:center;
height: 100vh;
}


.box{

height: 100vm;
width: 100vm;
padding:40px;
border-radius:10px;
font-size:45px;
color: #ffffff;
text-shadow: 0 3px 8px rgba(0,0,0,0.8);

}
p{
color: #ffffff;
text-shadow: 0 3px 8px rgba(0,0,0,0.8);
}

footer p{
color: #000000;
text-shadow: 0 3px 8px rgba(0,0,0,0.8);
}
.b{
color: #ff0000;
text-shadow: 0 3px 8px rgba(0,0,0,0.8);
}
.tagline{
font-size:30px;
color:#030022;
margin-top:10px;
}
span {
color:#ff0000;
font-weight:bold;
}
h3 {
color:#ff0000;
font-weight:bold;
}

.rot{
animation:rotateAnim 0.9s linear infinite;  
animation-play-state:running;

}
@keyframes rotateAnim{
0%{transform:rotate(0deg);}
100%{transform:rotate(360deg);}
}
.rot:hover{
animation-play-state:paused;
}
.paused {
    animation-play-state: paused ;
}



.flip-card {
    perspective: 1200px;
    height: 420px;
}


.flip-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.9s ease;
    transform-origin: center; 
}

.flip-card:hover .flip-inner {
    transform: rotateY(180deg);
}


.flip-front,
.flip-back {
    position: absolute;
    inset: 0; 
    border-radius: 14px;
    overflow: hidden;
    backface-visibility: hidden;
}

.flip-back {
    padding: 20px;
    transform: rotateY(180deg);
    background: rgba(20,20,20,0.85);
    border: 1px solid rgb(0, 0, 0);

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


.flip-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.shine {
    position: absolute;
    top: 0;
    left: -100%;
    width: 60%;
    height: 100%;
    background: linear-gradient(120deg,
        rgba(255,255,255,0) 0%,
        rgba(255,255,255,0.4) 50%,
        rgba(255,255,255,0) 100%
    );
    transform: skewX(-20deg);
    transition: .5s;
}

.front-content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #000000;
    font-weight: 700;
    font-size: 1.5rem;
    text-shadow: 0 3px 10px rgba(0,0,0,0.7);
}
.flip-card:hover .shine {
    left: 130%;
    transition: .9s ease-out;
}

