
        body {
            font-family: "Montserrat", sans-serif;
            background:url(../assets/bg10.png) no-repeat center center/cover;
            height: 100vh;
            overflow: hidden;
            position: relative;
        }


        body::before {
            content: "";
            position: absolute;
            inset: 0;
            background: rgba(10, 10, 20, 0.65);
            backdrop-filter: blur(3px);
        }

        .login-card {
            position: relative;
            z-index: 5;
            width: 380px;
            padding: 25px;
            border-radius: 12px;
            background: rgba(255, 255, 255, 0.1);
            border: 1px solid rgba(255, 255, 255, 0.2);
            box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
            color: white;
        }

        .login-card h2 {
            font-weight: 700;
            letter-spacing: 1px;
        }

        .form-control {
            background: rgba(255, 255, 255, 0.1);
            border: none;
            color: white;
        }

        .form-control:focus {
            border: 1px solid #d0d0d0;
            background: rgba(255, 255, 255, 0.15);
            color: white;
            box-shadow: none;
        }

            

        .btn-custom:hover {
            background: #b71c1c;
        }

        .snow {
            position: fixed;
            top: 0;
            left: 0;
            pointer-events: none;
            width: 100%;
            height: 100%;
            z-index: 2;
        }
